<div class="main-wrapper">
  <app-admin-navbar></app-admin-navbar>

  <div class="page-wrapper">
    <div class="content container-fluid">
      <div class="page-header">
      </div>
      <div class="mb-3">
        <app-go-back></app-go-back>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <table
                  class="datatable table table-stripped table display"
                  #dataTable
                  appDataTable
                  [data]="tableData"
                  [columns]="tableColumns"
                >                
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
