<div class="main-wrapper">
  <app-admin-navbar></app-admin-navbar>

  <div class="page-wrapper">
    <div class="content container-fluid">
      <div class="page-header">
        <div class="content-page-header">
          <h5>Order Details</h5>
        </div>
      </div>

      <div class="row gap-3 mb-3 justify-content-between m-0">
        <app-go-back></app-go-back>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                  <div class="ep-cover">
                    <ngx-slick-carousel
                      class="carousel"
                      #slickModal="slick-carousel"
                      [config]="slideConfig"
                    >
                      <div
                        class="card p-0 m-0 bg-white"
                        ngxSlickItem
                        *ngFor="
                          let slide of orderDetails?.product?.product_images;
                          let i = index
                        "
                      >
                        <img
                          src="{{ slide.image }}"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="text-center">
                          {{ i + 1 }} /{{
                            orderDetails?.product?.product_images?.length
                          }}
                        </div>
                      </div>
                    </ngx-slick-carousel>
                    <div class="row justify-content-center mt-3">
                      <div class="col-5 p-0 pe-2">
                        <button
                          class="btn btn-primary w-100"
                          (click)="slickModal.slickPrev()"
                        >
                          Prev
                        </button>
                      </div>
                      <div class="col-5 p-0 ps-2">
                        <button
                          class="btn btn-primary w-100"
                          (click)="slickModal.slickNext()"
                        >
                          Next
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-9 col-md-6 col-sm-12">
                  <div class="row">
                    <div class="col-lg-8 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label>Product Name</label>
                        <p>{{ orderDetails?.product?.product_name }}</p>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div
                        class="input-block mb-3"
                        *ngIf="
                          orderDetails?.status === 'pending' &&
                          userType == 'Manufacturer'
                        "
                      >
                        <button
                          *ngIf="
                            acceptAccess &&
                            orderDetails.deliveryStatus !== 'canceled'
                          "
                          class="btn btn-outline-primary me-3"
                          (click)="approve()"
                        >
                          Accept
                        </button>
                        <button
                          *ngIf="
                            rejectAccess &&
                            orderDetails.deliveryStatus !== 'canceled'
                          "
                          class="btn btn-outline-danger"
                          (click)="rejected()"
                        >
                          Reject
                        </button>
                      </div>
                    </div>
                    <div class="col-lg-8 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label>Category</label>
                        <p>
                          {{
                            orderDetails?.product?.product_category?.category
                              | titlecase
                          }}
                        </p>
                      </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label>Gender</label>
                        <p>{{ orderDetails?.gender | titlecase }}</p>
                      </div>
                    </div>
                    <div class="col-lg-8 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label>Price</label>
                        <p>${{ orderDetails?.price }}</p>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label>Quantity</label>
                        <p>{{ orderDetails?.quantity }}</p>
                      </div>
                    </div>
                    <div class="col-lg-8 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label>Color</label>
                        <p>
                          {{ orderDetails?.product_variant?.color | titlecase }}
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label>Size</label>
                        <p>{{ orderDetails?.product_variant?.size }}</p>
                      </div>
                    </div>
                    <div class="col-lg-8 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label>Ordered At</label>
                        <p>
                          {{
                            orderDetails?.created_at | date : "MMM d | h:mm a"
                          }}
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label class="d-block">Status</label>
                        <span
                          class="badge rounded-pill"
                          [ngClass]="{
                            'text-bg-warning':
                              orderDetails?.deliveryStatus ===
                              'pending_from_manufacturer',
                            'text-bg-success':
                              orderDetails?.deliveryStatus === 'in_process',
                            'text-bg-primary':
                              orderDetails?.deliveryStatus === 'on_the_way',
                            'text-bg-violet':
                              orderDetails?.deliveryStatus === 'delivered',
                            'text-bg-danger':
                              orderDetails?.deliveryStatus ===
                                'rejected_from_manufacturer' ||
                              orderDetails?.deliveryStatus === 'canceled'
                          }"
                        >
                          {{ getStatus(orderDetails?.deliveryStatus) }}
                        </span>
                      </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="input-block mb-3">
                        <label>Description</label>
                        <p>
                          {{ orderDetails?.product?.description }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
