<div class="main-wrapper">
  <app-admin-navbar></app-admin-navbar>

  <div class="page-wrapper">
    <div class="content container-fluid">
      <div class="page-header">
        <div class="content-page-header">
          <h5>Add Authentic Member</h5>
        </div>
      </div>

      <div class="row gap-3 mb-3 justify-content-between m-0">
        <div class="col-1 p-0">
          <app-go-back></app-go-back>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <div class="form-group-item border-0 mb-0">
                <div class="row align-item-center">
                  <form [formGroup]="myForm">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label>Name</label>
                        <input
                          type="text"
                          class="form-control"
                          formControlName="name"
                          placeholder="Enter Name"
                        />
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="input-block mb-3">
                        <label>Email</label>
                        <input
                          type="email"
                          class="form-control"
                          formControlName="email"
                        />
                      </div>
                    </div>
                  </form>
                </div>
                <div class="text-end">
                  <button
                    type="submit"
                    class="btn btn-primary mt-4"
                    (click)="onSubmit()"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
