<div class="main-wrapper">
  <app-admin-navbar></app-admin-navbar>
  <div class="loader-new" *ngIf="isLoading">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div class="page-wrapper">
    <div class="content container-fluid">
      <div class="page-header">
        <div class="content-page-header">
          <h5>Edit Episode</h5>
        </div>
      </div>
      <div class="row gap-3 mb-3 justify-content-between m-0">
        <div class="col-1 p-0">
          <app-go-back></app-go-back>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div
              class="card-body"
              *ngIf="episodeDetails && episodeDetails.data"
            >
              <form [formGroup]="episodeForm" (ngSubmit)="onSubmit()">
                <div class="form-group-item border-0 mb-0">
                  <div class="row align-item-center">
                    <div class="col-12">
                      <div class="input-block mb-3">
                        <label>Episode Name</label>
                        <input
                          type="text"
                          formControlName="episodeName"
                          class="form-control"
                          placeholder="Enter Episode Name"
                        />
                        <strong
                          class="text-danger"
                          *ngIf="
                            episodeForm.get('episodeName')?.invalid &&
                            episodeForm.get('episodeName')?.touched
                          "
                        >
                          Episode Name is required.
                        </strong>
                      </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label>Date</label>
                        <input
                          type="date"
                          formControlName="date"
                          class="datetimepicker form-control"
                          placeholder="Select Date"
                        />
                        <strong
                          class="text-danger"
                          *ngIf="
                            episodeForm.get('date')?.invalid &&
                            episodeForm.get('date')?.touched
                          "
                        >
                          Date is required.
                        </strong>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label>Episode Number</label>
                        <input
                          type="number"
                          formControlName="episodeNumber"
                          class="form-control"
                          placeholder="Enter Episode Number"
                        />
                        <strong
                          class="text-danger"
                          *ngIf="
                            episodeForm.get('episodeNumber')?.invalid &&
                            episodeForm.get('episodeNumber')?.touched
                          "
                        >
                          Episode Number is required.
                        </strong>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label>Season Number</label>
                        <input
                          type="number"
                          formControlName="seasonNumber"
                          class="form-control"
                          placeholder="Enter Season Number"
                        />
                        <strong
                          class="text-danger"
                          *ngIf="
                            episodeForm.get('seasonNumber')?.invalid &&
                            episodeForm.get('seasonNumber')?.touched
                          "
                        >
                          Season Number is required.
                        </strong>
                      </div>
                    </div>
                    <div
                      class="col-lg-6 col-md-6 col-sm-12"
                      *ngIf="allcategories && allcategories.data"
                    >
                      <div class="input-block mb-3">
                        <label>Category</label>
                        <div class="d-flex flex-wrap column-gap-3">
                          <span *ngFor="let category of allcategories.data"
                            ><input
                              class="form-check-input custom-control-input-cat"
                              type="checkbox"
                              id="check{{ category.id }}"
                              [checked]="isCategorySelected(category.id)"
                              data-parsley-multiple="check1"
                              [value]="category.id"
                              (change)="toggleCategory(category.id)" />
                            <label
                              class="foesrm-check-label m-0"
                              for="check{{ category.id }}"
                            >
                              {{ category.name | titlecase }}
                            </label>
                            <br
                          /></span>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label>Sub Type</label>
                        <select
                          formControlName="subType1"
                          class="form-select"
                          aria-label="Default select example"
                          #subtypee
                          (click)="getType(subtypee.value)"
                        >
                          <option class="d-none">Select File Type</option>
                          <option
                            value="podcast"
                            [selected]="
                              episodeDetails?.data.subtype === 'podcast'
                            "
                          >
                            podcast
                          </option>
                          <option
                            value="youtube"
                            [selected]="
                              episodeDetails?.data.subtype === 'youtube'
                            "
                          >
                            youtube
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label>File Type</label>
                        <select
                          disabled
                          class="form-select"
                          aria-label="Default select example"
                          required
                        >
                          <option class="d-none">Type</option>
                          <option
                            value="audio"
                            [selected]="subtypee.value === 'podcast'"
                          >
                            audio
                          </option>
                          <option
                            value="video"
                            [selected]="subtypee.value === 'youtube'"
                          >
                            video
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="input-block mb-3">
                        <label>SLug</label>
                        <input
                          type="text"
                          formControlName="slug"
                          class="form-control"
                          placeholder="Enter Slug"
                        />
                        <strong
                          class="text-danger"
                          *ngIf="
                            episodeForm.get('slug')?.invalid &&
                            episodeForm.get('slug')?.touched
                          "
                        >
                          Slug is required.
                        </strong>
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="input-block mb-3">
                        <label>Url/I-Frame</label>
                        <textarea
                          formControlName="url"
                          class="form-control"
                          placeholder="Enter URL or I-Frame"
                          rows="5"
                        ></textarea>
                        <strong
                          class="text-danger"
                          *ngIf="
                            episodeForm.get('url')?.invalid &&
                            episodeForm.get('url')?.touched
                          "
                        >
                          URL or I-Frame is required.
                        </strong>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="input-block mb-3">
                        <label>Description</label>

                        <ckeditor
                          [editor]="editor"
                          formControlName="description"
                          class="form-control"
                          placeholder="Enter Description"
                          rows="5"
                        ></ckeditor>
                        <strong
                          class="text-danger"
                          *ngIf="
                            episodeForm.get('description')?.invalid &&
                            episodeForm.get('description')?.touched
                          "
                        >
                          Description is required.
                        </strong>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="input-block mb-3">
                        <label>Meta Description</label>
                        <textarea
                          formControlName="meta"
                          class="form-control"
                          placeholder="Enter Meta Description"
                          rows="5"
                        ></textarea>
                        <strong
                          class="text-danger"
                          *ngIf="
                            episodeForm.get('meta')?.invalid &&
                            episodeForm.get('meta')?.touched
                          "
                        >
                          Meta Description is required.
                        </strong>
                      </div>
                    </div>
                    <div class="col-lg-8 col-md-6 col-sm-12">
                      <div class="input-block">
                        <label>Banner Image</label>
                        <div class="input-block service-upload mb-0 d-flex flex-column align-item-center justify-content-center">
                          <span>
                            <img
                              src="{{
                                episodeDetails?.data.image
                                  ? episodeDetails?.data.image
                                  : 'assets/img/drop-icon.svg'
                              }}"
                              alt="upload"
                              id="bannerPreview"
                            />
                          </span>
                          <h6 class="drop-browse align-center">
                            Drop your files here or
                            <span class="text-primary ms-1">browse</span>
                          </h6>
                          <p class="text-muted">Maximum size: 50MB</p>
                          <input
                            type="file"
                            multiple
                            id="bannerImage"
                            (change)="handleBannerImageInput($event)"
                          />
                          <div id="bannerFrames"></div>
                          <strong
                            class="text-danger"
                            *ngIf="
                              episodeForm.get('bannerImage')?.invalid &&
                              episodeForm.get('bannerImage')?.touched
                            "
                          >
                            Banner Image is required.
                          </strong>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="input-block">
                        <label>Thumbnail Image</label>
                        <div class="input-block service-upload mb-0 d-flex flex-column align-item-center justify-content-center">
                          <span>
                            <img
                              src="{{
                                episodeDetails?.data.thumbnail
                                  ? episodeDetails?.data.thumbnail
                                  : 'assets/img/drop-icon.svg'
                              }}"
                              alt="upload"
                              id="thumbnailPreview"
                            />
                          </span>
                          <h6 class="drop-browse align-center">
                            Drop your files here or
                            <span class="text-primary ms-1">browse</span>
                          </h6>
                          <p class="text-muted">Maximum size: 50MB</p>
                          <input
                            type="file"
                            multiple
                            id="thumbnailImage"
                            (change)="handleThumbnailImageInput($event)"
                          />
                          <div id="thumbnailFrames"></div>
                          <strong
                            class="text-danger"
                            *ngIf="
                              episodeForm.get('thumbnailImage')?.invalid &&
                              episodeForm.get('thumbnailImage')?.touched
                            "
                          >
                            Thumbnail Image is required.
                          </strong>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-end">
                  <button type="submit" class="btn btn-primary">Update</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
