<div class="login_wrapper">
  <div class="main-wrapper login-body" style="visibility: visible">
    <div class="login-wrapper">
      <div class="container">
        <div class="loginbox">
          <div class="login-right">
            <div class="login-right-wrap">
              <h1>Set Your Password</h1>
              <div
                *ngIf="
                  LoginForm.get('password')?.invalid &&
                  LoginForm.get('password')?.touched
                "
              >
                <div
                  class="alert alert-danger"
                  *ngIf="LoginForm.get('password')?.errors?.['passwordInvalid']"
                >
                  Password must be at least 8 characters long, contain at least
                  one uppercase letter, one lowercase letter, one number, and
                  one special character.
                </div>
              </div>
              <form [formGroup]="LoginForm">
                <div class="input-block mb-3">
                  <label class="form-control-label">Create Password</label>
                  <div class="pass-group">
                    <input
                      [type]="typePassword1"
                      class="form-control"
                      formControlName="password"
                      required
                    />
                    <span *ngIf="hiddenPassword1">
                      <i
                        class="fa-solid fa-eye toggle-password"
                        title="Show"
                        (click)="showPassword('password1')"
                      ></i>
                    </span>
                    <span *ngIf="!hiddenPassword1">
                      <i
                        class="fa-regular fa-eye-slash toggle-password"
                        title="Hide"
                        (click)="hidePassword('password1')"
                      ></i>
                    </span>
                  </div>
                </div>
                <div class="input-block mb-3">
                  <label class="form-control-label">Confirm Password</label>
                  <div class="pass-group">
                    <input
                      [type]="typePassword2"
                      class="form-control pass-input"
                      formControlName="password2"
                      required
                    />
                    <span *ngIf="hiddenPassword2">
                      <i
                        class="fa-solid fa-eye toggle-password"
                        title="Show"
                        (click)="showPassword('password2')"
                      ></i>
                    </span>
                    <span *ngIf="!hiddenPassword2">
                      <i
                        class="fa-regular fa-eye-slash toggle-password"
                        title="Hide"
                        (click)="hidePassword('password2')"
                      ></i>
                    </span>
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="LoginForm.errors?.['passwordMismatch']"
                  >
                    Passwords do not match.
                  </div>
                </div>

                <div id="sub_msg" class="text-danger">{{ errormessage }}</div>
                <button
                  class="btn btn-lg btn-primary w-100"
                  type="submit"
                  [disabled]="LoginForm.invalid"
                  (click)="updateUser()"
                >
                  Update
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
