<div class="login_wrapper">
  <div class="main-wrapper login-body" style="visibility: visible">
    <div class="login-wrapper">
      <div class="container">
        <div class="loginbox" *ngIf="currentPage === '/admin-auth'">
          <div class="login-right">
            <div class="login-right-wrap">
              <h1>Login</h1>
              <form [formGroup]="LoginForm">
                <div class="input-block mb-3">
                  <label class="form-control-label">Email Address</label>
                  <input
                    type="email"
                    class="form-control"
                    formControlName="email"
                    required
                  />
                </div>
                <div class="input-block mb-3">
                  <label class="form-control-label">Password</label>
                  <div class="pass-group">
                    <input
                      [type]="type"
                      class="form-control pass-input"
                      formControlName="password"
                      required
                    />
                    <span *ngIf="hidden == true"
                      ><i
                        class="fa-solid fa-eye toggle-password"
                        title="Show"
                        (click)="showPassword()"
                      ></i
                    ></span>
                    <span *ngIf="show == true"
                      ><i
                        class="fa-regular fa-eye-slash toggle-password"
                        title="Hide"
                        (click)="hidePassword()"
                      ></i
                    ></span>
                  </div>
                </div>
                <div id="sub_msg" class="text-danger">{{ errormessage }}</div>
                <button
                  class="btn btn-lg btn-primary w-100"
                  type="submit"
                  (click)="AdminLogin()"
                >
                  Login
                </button>
                <a routerLink="/forget-password">Forgot password?</a>
              </form>
            </div>
          </div>
        </div>
        <div class="loginbox" *ngIf="currentPage === '/forget-password'">
          <div class="login-right">
            <div class="login-right-wrap">
              <h1>Reset Password</h1>
              <form [formGroup]="PasswordForm">
                <div class="input-block mb-3">
                  <label class="form-control-label">Email Address</label>
                  <input
                    type="email"
                    class="form-control"
                    formControlName="email"
                    required
                  />
                </div>
                <button
                  class="btn btn-lg btn-primary w-100"
                  type="submit"
                  (click)="resetPassword()"
                >
                  Reset
                </button>
                <a routerLink="/admin-auth">Cancel</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
