<div class="main-wrapper">
  <app-admin-navbar></app-admin-navbar>

  <div class="page-wrapper">
    <div class="content container-fluid">
      <div class="page-header">
        <div class="content-page-header">
          <h5>Edit Metas</h5>
        </div>
      </div>

      <div class="row gap-3 mb-3 justify-content-between m-0">
        <div class="col-1 p-0">
          <app-go-back></app-go-back>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <div class="form-group-item border-0 mb-0">
                <div class="row align-item-center">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="input-block mb-3">
                      <label>Meta For</label>
                      <select
                        class="form-select"
                        aria-label="Default select example"
                        disabled
                      >
                        <option selected>{{ this.meta_for }}</option>
                      </select>
                    </div>
                  </div>
                  <form [formGroup]="metaForm">
                    <div class="col-12">
                      <div class="input-block mb-3">
                        <label>Sub Type</label>
                        <textarea
                          class="form-control"
                          formControlName="description"
                          placeholder="Enter description"
                          [(ngModel)]="allMetas?.data.meta_description"
                          rows="5"
                        ></textarea>
                      </div>
                    </div>
                  </form>

                  <div class="col-lg-3 col-md-4 col-sm-12">
                    <a
                      class="btn btn-primary w-100 mt-4"
                      type="submit"
                      (click)="handleSubmit()"
                      >Update</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
