<div class="main-wrapper">
  <app-admin-navbar></app-admin-navbar>

  <div class="page-wrapper">
    <div class="content container-fluid">
      <div class="page-header">
        <div class="content-page-header">
          <h5>Add RoleType</h5>
        </div>
      </div>

      <div class="mb-3">
        <app-go-back></app-go-back>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <div class="form-group-item border-0 mb-0">
                <div class="row align-item-center">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="input-block mb-3">
                      <label>Role Name</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Role"
                        [(ngModel)]="roleData.name"
                        required
                      />
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="row mt-3">
                      <div class="col-lg-4 form-label">Role Type</div>
                      <div class="col-lg-8 form-label">Permissions</div>
                      <div
                        class="row mb-1 mt-3"
                        *ngFor="let data of menuData; let i = index"
                      >
                        <div class="col-lg-2">
                          <div class="form-check custom-checkbox">
                            <input
                              class="form-check-input custom-control-input-cat"
                              type="checkbox"
                              id="check {{ data.id }}"
                              name="check1 {{ data.id }}"
                              data-parsley-multiple="check1"
                              (change)="addMenu(data.id, $event.target)"
                              [checked]="isRoleExit(data.id)"
                            />
                            <label
                              class="form-check-label m-0"
                              for="check1 {{ data.id }}"
                            >
                              {{ data.name }}
                            </label>
                          </div>
                        </div>

                        <div class="col-lg-10">
                          <div class="d-flex gap-3 gap-md-4 flex-wrap">
                            <div class="form-check d-inline-block">
                              <input
                                class="form-check-input custom-control-input radio1"
                                type="checkbox"
                                id="add{{ data.id }}"
                                name="select1[]"
                                value="add"
                                data-parsley-multiple="select1"
                                (change)="
                                  addMenuAccess(data.id, $event.target, 'add')
                                "
                                [disabled]="isMenuExist(data.id)"
                                [checked]="isStatusExit(data.id, 'add')"
                              />
                              <label
                                class="form-check-label m-0"
                                for="add{{ data.id }}"
                              >
                                Add
                              </label>
                            </div>
                            <div class="form-check d-inline-block">
                              <input
                                class="form-check-input custom-control-input radio1"
                                type="checkbox"
                                id="edit {{ data.id }}"
                                name="select1[]"
                                value="edit"
                                data-parsley-multiple="select1"
                                (change)="
                                  addMenuAccess(data.id, $event.target, 'edit')
                                "
                                [disabled]="isMenuExist(data.id)"
                                [checked]="isStatusExit(data.id, 'edit')"
                              />
                              <label
                                class="form-check-label m-0"
                                for="edit{{ data.id }}"
                              >
                                Edit
                              </label>
                            </div>
                            <div class="form-check d-inline-block">
                              <input
                                class="form-check-input custom-control-input radio1"
                                type="checkbox"
                                id="delete{{ data.id }}"
                                name="select1[]"
                                value="delete "
                                data-parsley-multiple="select1"
                                (change)="
                                  addMenuAccess(
                                    data.id,
                                    $event.target,
                                    'delete'
                                  )
                                "
                                [disabled]="isMenuExist(data.id)"
                                [checked]="isStatusExit(data.id, 'delete')"
                              />
                              <label
                                class="form-check-label m-0"
                                for="delete {{ data.id }}"
                              >
                                Delete
                              </label>
                            </div>
                            <div
                              class="form-check d-inline-block"
                              *ngIf="
                                data.id !== 1 &&
                                data.id !== 5 &&
                                data.id !== 7 &&
                                data.id !== 8 &&
                                data.id !== 9
                              "
                            >
                              <input
                                class="form-check-input custom-control-input radio1"
                                type="checkbox"
                                id="approve{{ data.id }}"
                                name="select1[]"
                                value="approve"
                                data-parsley-multiple="select1"
                                (change)="
                                  addMenuAccess(
                                    data.id,
                                    $event.target,
                                    'approve'
                                  )
                                "
                                [disabled]="isMenuExist(data.id)"
                                [checked]="isStatusExit(data.id, 'approve')"
                              />
                              <label
                                class="form-check-label m-0"
                                for="approve{{ data.id }}"
                              >
                                Approve
                              </label>
                            </div>
                            <div
                              class="form-check d-inline-block col-lg-2"
                              *ngIf="
                                data.id !== 1 &&
                                data.id !== 5 &&
                                data.id !== 7 &&
                                data.id !== 8 &&
                                data.id !== 9
                              "
                            >
                              <input
                                class="form-check-input custom-control-input radio1"
                                type="checkbox"
                                id="publish{{ data.id }}"
                                name="select1[]"
                                value="publish"
                                data-parsley-multiple="select1"
                                (change)="
                                  addMenuAccess(
                                    data.id,
                                    $event.target,
                                    'publish'
                                  )
                                "
                                [disabled]="isMenuExist(data.id)"
                                [checked]="isStatusExit(data.id, 'publish')"
                              />
                              <label
                                class="form-check-label m-0"
                                for="publish{{ data.id }}"
                              >
                                Publish
                              </label>
                            </div>
                            <div
                              class="form-check d-inline-block col-lg-3"
                              *ngIf="
                                data.id !== 1 &&
                                data.id !== 5 &&
                                data.id !== 7 &&
                                data.id !== 8 &&
                                data.id !== 9
                              "
                            >
                              <input
                                class="form-check-input custom-control-input radio1"
                                type="checkbox"
                                id="editpublish{{ data.id }}"
                                name="select1[]"
                                value="edit after publish"
                                data-parsley-multiple="select1"
                                (change)="
                                  addMenuAccess(
                                    data.id,
                                    $event.target,
                                    'edit after publish'
                                  )
                                "
                                [disabled]="isMenuExist(data.id)"
                                [checked]="
                                  isStatusExit(data.id, 'edit after publish')
                                "
                              />
                              <label
                                class="form-check-label m-0"
                                for="editpublish{{ data.id }}"
                              >
                                Edit After Publish
                              </label>
                            </div>
                            <div
                              class="form-check d-inline-block me-3 col-lg-2"
                              *ngIf="
                                data.id !== 1 &&
                                data.id !== 5 &&
                                data.id !== 7 &&
                                data.id !== 8 &&
                                data.id !== 9
                              "
                            >
                              <input
                                class="form-check-input custom-control-input radio1"
                                type="checkbox"
                                id="own{{ data.id }}"
                                name="select1[]"
                                value="self record"
                                data-parsley-multiple="select1"
                                (change)="
                                  addMenuAccess(
                                    data.id,
                                    $event.target,
                                    'self record'
                                  )
                                "
                                [disabled]="isMenuExist(data.id)"
                                [checked]="isStatusExit(data.id, 'self record')"
                              />
                              <label
                                class="form-check-label m-0"
                                for="own{{ data.id }}"
                              >
                                Self Record
                              </label>
                            </div>
                          </div>
                        </div>

                        <div *ngIf="(i + 1) % 4 === 0">
                          <hr />
                        </div>
                        <!-- <div class="row mt-3"></div> -->
                        <div
                          *ngIf="(i + 1) % 4 === 0 && i !== 0"
                          class="row mt-3"
                        >
                          <div class="col-lg-4 form-label">Store Role Type</div>
                          <div class="col-lg-8 form-label">
                            Store Permissions
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer gap-3 mt-4 p-0">
                  <a href="#" class="btn btn-back">Cancel</a>
                  <a class="btn btn-primary" (click)="addRole()">Submit</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
