<div class="main-wrapper">
  <app-admin-navbar></app-admin-navbar>

  <div class="page-wrapper">
    <div class="content container-fluid">
      <div class="page-header">
        <div class="content-page-header">
          <h5>Role Types</h5>
          <a class="btn btn-primary" routerLink="/admin/add-role">Add Role Type</a>
        </div>
      </div>
      <div class="mb-3">
        <app-go-back></app-go-back>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <table class="datatable table table-stripped">
                  <thead>
                    <tr>
                      <th>ROLE NAME</th>
                      <th>ACCESS</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="allRoles && allRoles.role">
                    <tr *ngFor="let role of allRoles.role">
                      <td>{{ role.name }}</td>
                      <td>
                        <select class="form-select" aria-label="Default select example"
                          *ngIf="role && role.role_accesses">
                          <option value="1" *ngFor="let accesss of role.role_accesses">
                            {{accesss.menu_bar.title | titlecase}} {{accesss.status}}
                          </option>
                        </select>
                      </td>
                      <td>
                        <div class="actions d-flex align-items-center gap-2">
                          <a routerLink="/admin/edit-role/{{role.id}}" class="btn-action-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                              xmlns:xlink="http://www.w3.org/1999/xlink" width="14" height="14" x="0" y="0"
                              viewBox="0 0 401.523 401" style="enable-background: new 0 0 512 512" xml:space="preserve"
                              class="">
                              <g>
                                <path
                                  d="M370.59 250.973c-5.524 0-10 4.476-10 10v88.789c-.02 16.562-13.438 29.984-30 30H50c-16.563-.016-29.98-13.438-30-30V89.172c.02-16.559 13.438-29.98 30-30h88.79c5.523 0 10-4.477 10-10 0-5.52-4.477-10-10-10H50c-27.602.031-49.969 22.398-50 50v260.594c.031 27.601 22.398 49.968 50 50h280.59c27.601-.032 49.969-22.399 50-50v-88.793c0-5.524-4.477-10-10-10zm0 0"
                                  fill="#000000" opacity="1" data-original="#000000" class=""></path>
                                <path
                                  d="M376.629 13.441c-17.574-17.574-46.067-17.574-63.64 0L134.581 191.848a9.997 9.997 0 0 0-2.566 4.402l-23.461 84.7a9.997 9.997 0 0 0 12.304 12.308l84.7-23.465a9.997 9.997 0 0 0 4.402-2.566l178.402-178.41c17.547-17.587 17.547-46.055 0-63.641zM156.37 198.348 302.383 52.332l47.09 47.09-146.016 146.016zm-9.406 18.875 37.62 37.625-52.038 14.418zM374.223 74.676 363.617 85.28l-47.094-47.094 10.61-10.605c9.762-9.762 25.59-9.762 35.351 0l11.739 11.734c9.746 9.774 9.746 25.59 0 35.36zm0 0"
                                  fill="#000000" opacity="1" data-original="#000000" class=""></path>
                              </g>
                            </svg>
                          </a>
                          <a class="btn-action-icon" (click)="open(deletee, role.id)">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                              xmlns:xlink="http://www.w3.org/1999/xlink" width="14" height="14" x="0" y="0"
                              viewBox="0 0 512 512" style="enable-background: new 0 0 512 512" xml:space="preserve">
                              <g>
                                <path
                                  d="M436 60h-75V45c0-24.813-20.187-45-45-45H196c-24.813 0-45 20.187-45 45v15H76c-24.813 0-45 20.187-45 45 0 19.928 13.025 36.861 31.005 42.761L88.76 470.736C90.687 493.875 110.385 512 133.604 512h244.792c23.22 0 42.918-18.125 44.846-41.271l26.753-322.969C467.975 141.861 481 124.928 481 105c0-24.813-20.187-45-45-45zM181 45c0-8.271 6.729-15 15-15h120c8.271 0 15 6.729 15 15v15H181V45zm212.344 423.246c-.643 7.712-7.208 13.754-14.948 13.754H133.604c-7.739 0-14.305-6.042-14.946-13.747L92.294 150h327.412l-26.362 318.246zM436 120H76c-8.271 0-15-6.729-15-15s6.729-15 15-15h360c8.271 0 15 6.729 15 15s-6.729 15-15 15z"
                                  fill="#000000" opacity="1" data-original="#000000"></path>
                                <path
                                  d="m195.971 436.071-15-242c-.513-8.269-7.67-14.558-15.899-14.043-8.269.513-14.556 7.631-14.044 15.899l15 242.001c.493 7.953 7.097 14.072 14.957 14.072 8.687 0 15.519-7.316 14.986-15.929zM256 180c-8.284 0-15 6.716-15 15v242c0 8.284 6.716 15 15 15s15-6.716 15-15V195c0-8.284-6.716-15-15-15zM346.927 180.029c-8.25-.513-15.387 5.774-15.899 14.043l-15 242c-.511 8.268 5.776 15.386 14.044 15.899 8.273.512 15.387-5.778 15.899-14.043l15-242c.512-8.269-5.775-15.387-14.044-15.899z"
                                  fill="#000000" opacity="1" data-original="#000000"></path>
                              </g>
                            </svg>
                          </a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #deletee let-modal>
  <!-- ======== -->
  <!-- delete modal -->
  <!-- ======== -->
  <div class="modal-content">
    <div class="modal-body">
      <div class="form-header">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="60"
            height="60" x="0" y="0" viewBox="0 0 512 512" style="enable-background: new 0 0 512 512"
            xml:space="preserve" class="">
            <g>
              <path fill="#ac54f4" fill-rule="evenodd"
                d="M170.8 14.221A14.21 14.21 0 0 1 185 .014L326.991.006a14.233 14.233 0 0 1 14.2 14.223v35.117H170.8zm233.461 477.443a21.75 21.75 0 0 1-21.856 20.33H127.954a21.968 21.968 0 0 1-21.854-20.416L84.326 173.06H427.5l-23.234 318.6zm56.568-347.452H51.171v-33A33.035 33.035 0 0 1 84.176 78.2l343.644-.011a33.051 33.051 0 0 1 33 33.02v33zm-270.79 291.851a14.422 14.422 0 1 0 28.844 0V233.816a14.42 14.42 0 0 0-28.839-.01v202.257zm102.9 0a14.424 14.424 0 1 0 28.848 0V233.816a14.422 14.422 0 0 0-28.843-.01z"
                opacity="1" data-original="#fc0005" class=""></path>
            </g>
          </svg>
        </span>

        <p class="mt-3" *ngIf="allMembers.length">Please Update All User Role Before Delete.</p>
        <p class="mt-3" *ngIf="allMembers.length == 0">Do you want to delete this role?</p>
      </div>
      <div class="table-responsive">
        <table class="datatable table table-stripped" *ngIf="allMembers.length">
          <thead>
            <tr>
              <th>Member NAME</th>
              <th>ACCESS</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let member of allMembers">
              <td>{{ member.name }}({{member.email}})</td>
              <td>
                <select #role (change)="changeRole(member.id, role.value)" class="form-select"
                  aria-label="Default select example">
                  <option seelcted>Select Role</option>
                  <option value="{{data.id}}" *ngFor="let data of filterRole">
                    {{data.name}}
                  </option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-btn delete-action">
        <div class="row">
          <div class="col-6">
            <button [disabled]="!allUserHaveRole()" class="btn btn-primary paid-continue-btn"
              (click)="deleteRole(deleteId)">Delete</button>
          </div>
          <div class="col-6">
            <a data-bs-dismiss="modal" class="btn btn-primary paid-cancel-btn" (click)="modal.close()">Cancel</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>