<div class="main-wrapper">
  <app-admin-navbar></app-admin-navbar>

  <div class="page-wrapper">
    <div class="content container-fluid">
      <div class="page-header">
        <div class="content-page-header">
          <h5>Edit Advertisement</h5>
        </div>
      </div>

      <div class="row gap-3 mb-3 justify-content-between m-0">
        <div class="col-1 p-0">
          <app-go-back></app-go-back>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <div class="form-group-item border-0 mb-0">
                <form [formGroup]="advertisementForm" (ngSubmit)="onSubmit()">
                  <div class="row align-item-center">
                    <div class="col-12">
                      <div class="input-block mb-3">
                        <label>Title</label>
                        <input
                          type="text"
                          class="form-control"
                          formControlName="title"
                          placeholder="Enter Title"
                          [(ngModel)]="singleAdData.title"
                        />
                        <div
                          *ngIf="
                            advertisementForm.get('title')?.invalid &&
                            advertisementForm.get('title')?.touched
                          "
                        >
                          <small
                            class="text-danger"
                            *ngIf="
                              advertisementForm.get('title')?.errors?.['required']
                            "
                          >
                            Title is required
                          </small>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-8 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label>Description</label>
                        <input
                          type="text"
                          class="form-control"
                          formControlName="description"
                          placeholder="Enter Description"
                          [(ngModel)]="singleAdData.description"
                        />
                        <div
                          *ngIf="
                            advertisementForm.get('description')?.invalid &&
                            advertisementForm.get('description')?.touched
                          "
                        >
                          <small
                            class="text-danger"
                            *ngIf="
                              advertisementForm.get('description')?.errors?.['required']
                            "
                          >
                            Description is required
                          </small>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-8 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label>URL</label>
                        <input
                          type="text"
                          class="form-control"
                          formControlName="url"
                          placeholder="Enter URL"
                          [(ngModel)]="singleAdData.url"
                        />
                        <div
                          *ngIf="
                            advertisementForm.get('url')?.invalid &&
                            advertisementForm.get('url')?.touched
                          "
                        >
                          <small
                            class="text-danger"
                            *ngIf="
                              advertisementForm.get('url')?.errors?.['required']
                            "
                          >
                            URL is required
                          </small>
                          <small
                            class="text-danger"
                            *ngIf="advertisementForm.get('url')?.errors?.['pattern']"
                          >
                            Invalid URL format
                          </small>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label>Select Page</label>
                        <select class="form-select" formControlName="page">
                          <option
                            value="Home"
                            [selected]="singleAdData.page == 'Home'"
                          >
                            Home
                          </option>
                          <option
                            value="Episodes"
                            [selected]="singleAdData.page == 'Episodes'"
                          >
                            Episodes
                          </option>
                          <option
                            value="Articles"
                            [selected]="singleAdData.page == 'Articles'"
                          >
                            Articles
                          </option>
                        </select>
                        <div
                          *ngIf="
                            advertisementForm.get('page')?.invalid &&
                            advertisementForm.get('page')?.touched
                          "
                        >
                          <small class="text-danger"
                            >Page selection is required</small
                          >
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="input-block">
                        <label>Thumbnail Image</label>
                        <div class="input-block service-upload mb-0">
                          <span
                            ><img
                              src="assets/img/drop-icon.svg"
                              id="thumbnailPreview"
                              alt="upload"
                          /></span>
                          <h6 class="drop-browse align-center">
                            Drop your files here or
                            <span class="text-primary ms-1">browse</span>
                          </h6>
                          <p class="text-muted">Maximum size: 50MB</p>
                          <input
                            type="file"
                            multiple
                            id="thumbnailImage"
                            (change)="onFileSelected($event)"
                          />
                          <div id="thumbnailFrames"></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12"></div>

                    <div class="col-lg-3 col-md-4 col-sm-12">
                      <button type="submit" class="btn btn-primary w-100 mt-4">
                        Update
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
