<div class="main-wrapper">
  <app-admin-navbar></app-admin-navbar>

  <div class="page-wrapper">
    <div class="content container-fluid">
      <div class="page-header">
        <div class="content-page-header">
          <h5>Add Episodes</h5>
        </div>
      </div>
      <div class="row gap-3 mb-3 justify-content-between m-0">
        <div class="col-1 p-0">
          <app-go-back></app-go-back>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <form [formGroup]="episodeForm" (ngSubmit)="onSubmit()">
                <div class="form-group-item border-0 mb-0">
                  <div class="row align-item-center">
                    <div class="col-12">
                      <div class="input-block mb-3">
                        <label>Episode Name</label>
                        <input
                          type="text"
                          formControlName="episodeName"
                          class="form-control"
                          placeholder="Enter Episode Name"
                          (change)="this.inputChanged.next('episodeName')"
                        />
                        <div
                          *ngIf="
                            episodeForm.get('episodeName')?.invalid &&
                            (episodeForm.get('episodeName')?.dirty ||
                              episodeForm.get('episodeName')?.touched)
                          "
                          class="text-danger"
                        >
                          <div
                            *ngIf="episodeForm.get('episodeName')?.errors?.['required']"
                          >
                            Episode Name is required.
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label>Date</label>
                        <input
                          type="date"
                          formControlName="date"
                          class="datetimepicker form-control"
                          placeholder="Select Date"
                          (change)="this.inputChanged.next('date')"
                        />
                        <div
                          *ngIf="
                            episodeForm.get('date')?.invalid &&
                            (episodeForm.get('date')?.dirty ||
                              episodeForm.get('date')?.touched)
                          "
                          class="text-danger"
                        >
                          <div
                            *ngIf="episodeForm.get('date')?.errors?.['required']"
                          >
                            Date is required.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label>Episode Number</label>
                        <input
                          type="number"
                          formControlName="episodeNumber"
                          class="form-control"
                          placeholder="Enter Episode Number"
                          (change)="this.inputChanged.next('episodeNumber')"
                        />
                        <div
                          *ngIf="
                            episodeForm.get('episodeNumber')?.invalid &&
                            (episodeForm.get('episodeNumber')?.dirty ||
                              episodeForm.get('episodeNumber')?.touched)
                          "
                          class="text-danger"
                        >
                          <div
                            *ngIf="episodeForm.get('episodeNumber')?.errors?.['required']"
                          >
                            Episode Number is required.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label>Season Number</label>
                        <input
                          type="number"
                          formControlName="seasonNumber"
                          class="form-control"
                          placeholder="Enter Season Number"
                          (change)="this.inputChanged.next('seasonNumber')"
                        />
                        <div
                          *ngIf="
                            episodeForm.get('seasonNumber')?.invalid &&
                            (episodeForm.get('seasonNumber')?.dirty ||
                              episodeForm.get('seasonNumber')?.touched)
                          "
                          class="text-danger"
                        >
                          <div
                            *ngIf="episodeForm.get('seasonNumber')?.errors?.['required']"
                          >
                            Season Number is required.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label>Category</label>
                        <ng-multiselect-dropdown
                          [placeholder]="'Select Categories'"
                          [data]="allcategories"
                          formControlName="category"
                          [settings]="dropdownSettings"
                          (onSelect)="onCategorySelect($event)"
                          (onDeSelect)="onCategoryDeSelect($event)"
                        >
                        </ng-multiselect-dropdown>
                      </div>
                      <div
                        *ngIf="
                          episodeForm.get('category')?.invalid &&
                          (episodeForm.get('category')?.dirty ||
                            episodeForm.get('category')?.touched)
                        "
                        class="text-danger"
                      >
                        <div
                          *ngIf="episodeForm.get('category')?.errors?.['required']"
                        >
                          Category is required.
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label>Sub Type</label>
                        <select
                          formControlName="subType1"
                          class="form-select"
                          aria-label="Default select example"
                          #subtypee
                          (change)="getType(subtypee.value)"
                          (change)="this.inputChanged.next('subType1')"
                        >
                          <option value="" class="d-none">Type</option>
                          <option value="podcast">podcast</option>
                          <option value="youtube">youtube</option>
                        </select>
                        <div
                          *ngIf="
                            episodeForm.get('subType1')?.invalid &&
                            (episodeForm.get('subType1')?.dirty ||
                              episodeForm.get('subType1')?.touched)
                          "
                          class="text-danger"
                        >
                          <div
                            *ngIf="episodeForm.get('subType1')?.errors?.['required']"
                          >
                            Sub Type is required.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label>File Type</label>
                        <select
                          class="form-select"
                          aria-label="Default select example"
                          [disabled]="true"
                        >
                          <option>Select File Type</option>
                          <option
                            value="audio"
                            [selected]="fileType === 'audio'"
                          >
                            audio
                          </option>
                          <option
                            value="video"
                            [selected]="fileType === 'video'"
                          >
                            video
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="input-block mb-3">
                        <label>Slug</label>
                        <input
                          type="text"
                          formControlName="slug"
                          class="form-control"
                          placeholder="Enter Slug"
                          (change)="this.inputChanged.next('slug')"
                        />
                        <div
                          *ngIf="
                            episodeForm.get('slug')?.invalid &&
                            (episodeForm.get('slug')?.dirty ||
                              episodeForm.get('slug')?.touched)
                          "
                          class="text-danger"
                        >
                          <div
                            *ngIf="episodeForm.get('slug')?.errors?.['required']"
                          >
                            Slug is required.
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="input-block mb-3">
                        <label>Url/I-Frame</label>
                        <textarea
                          formControlName="url"
                          class="form-control"
                          placeholder="Enter Notes"
                          rows="5"
                          (change)="this.inputChanged.next('url')"
                        ></textarea>
                        <div
                          *ngIf="
                            episodeForm.get('url')?.invalid &&
                            (episodeForm.get('url')?.dirty ||
                              episodeForm.get('url')?.touched)
                          "
                          class="text-danger"
                        >
                          <div
                            *ngIf="episodeForm.get('url')?.errors?.['required']"
                          >
                            Url is required.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="input-block mb-3">
                        <label>Description</label>
                        <ckeditor
                          [editor]="editor"
                          formControlName="description"
                          class="form-control"
                          placeholder="Enter Notes"
                          rows="5"
                          (change)="this.inputChanged.next('description')"
                        ></ckeditor>
                        <div
                          *ngIf="
                            episodeForm.get('description')?.invalid &&
                            (episodeForm.get('description')?.dirty ||
                              episodeForm.get('description')?.touched)
                          "
                          class="text-danger"
                        >
                          <div
                            *ngIf="episodeForm.get('description')?.errors?.['required']"
                          >
                            Description is required.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="input-block mb-3">
                        <label>Metas</label>
                        <textarea
                          formControlName="meta"
                          class="form-control"
                          placeholder="Enter Notes"
                          rows="5"
                          (change)="this.inputChanged.next('meta')"
                        ></textarea>
                        <div
                          *ngIf="
                            episodeForm.get('meta')?.invalid &&
                            (episodeForm.get('meta')?.dirty ||
                              episodeForm.get('meta')?.touched)
                          "
                          class="text-danger"
                        >
                          <div
                            *ngIf="episodeForm.get('meta')?.errors?.['required']"
                          >
                            Metas is required.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-8 col-md-6 col-sm-12">
                      <div class="input-block">
                        <label>Banner Image</label>
                        <div
                          class="input-block service-upload mb-0 d-flex flex-column align-item-center justify-content-center"
                        >
                          <span>
                            <img
                              [src]="
                                croppedBannerImage
                                  ? croppedBannerImage
                                  : 'assets/img/drop-icon.svg'
                              "
                              alt="upload"
                              id="bannerPreview"
                            />
                          </span>
                          <h6
                            class="drop-browse align-center"
                            *ngIf="!showBannerCropper"
                          >
                            Drop your files here or
                            <span class="text-primary ms-1">browse</span>
                          </h6>
                          <p class="text-muted" *ngIf="!showBannerCropper">
                            Maximum size: 50MB
                          </p>
                          <input
                            type="file"
                            id="bannerImage"
                            (change)="handleBannerImageInput($event)"
                          />
                          <div id="bannerFrames"></div>
                          <image-cropper
                            *ngIf="showBannerCropper"
                            [imageChangedEvent]="bannerImageChangedEvent"
                            [aspectRatio]="16 / 9"
                            [maintainAspectRatio]="true"
                            format="png"
                            (imageCropped)="bannerImageCropped($event)"
                          ></image-cropper>
                          <button
                            *ngIf="showBannerCropper"
                            (click)="saveCroppedBannerImage()"
                            class="btn btn-primary mt-2"
                          >
                            Save
                          </button>
                        </div>
                      </div>
                      <div
                        *ngIf="
                          episodeForm.get('bannerImage')?.invalid &&
                          (episodeForm.get('bannerImage')?.dirty ||
                            episodeForm.get('bannerImage')?.touched)
                        "
                        class="text-danger"
                      >
                        <div
                          *ngIf="episodeForm.get('bannerImage')?.errors?.['required']"
                        >
                          Banner Image is required.
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="input-block">
                        <label>Thumbnail Image</label>
                        <div
                          class="input-block service-upload mb-0 d-flex flex-column align-item-center justify-content-center"
                        >
                          <span>
                            <img
                              [src]="
                                croppedThumbnailImage
                                  ? croppedThumbnailImage
                                  : 'assets/img/drop-icon.svg'
                              "
                              id="thumbnailPreview"
                              alt="upload"
                            />
                          </span>
                          <h6
                            class="drop-browse align-center"
                            *ngIf="!showThumbnailCropper"
                          >
                            Drop your files here or
                            <span class="text-primary ms-1">browse</span>
                          </h6>
                          <p class="text-muted" *ngIf="!showThumbnailCropper">
                            Maximum size: 50MB
                          </p>
                          <input
                            type="file"
                            id="thumbnailImage"
                            (change)="handleThumbnailImageInput($event)"
                          />
                          <div id="thumbnailFrames"></div>
                          <image-cropper
                            *ngIf="showThumbnailCropper"
                            [imageChangedEvent]="thumbnailImageChangedEvent"
                            [aspectRatio]="1 / 1"
                            [maintainAspectRatio]="true"
                            format="png"
                            (imageCropped)="thumbnailImageCropped($event)"
                          ></image-cropper>
                          <button
                            *ngIf="showThumbnailCropper"
                            (click)="saveCroppedThumbnailImage()"
                            class="btn btn-primary mt-2"
                          >
                            Save
                          </button>
                        </div>
                      </div>
                      <div
                        *ngIf="
                          episodeForm.get('thumbnailImage')?.invalid &&
                          (episodeForm.get('thumbnailImage')?.dirty ||
                            episodeForm.get('thumbnailImage')?.touched)
                        "
                        class="text-danger"
                      >
                        <div
                          *ngIf="episodeForm.get('thumbnailImage')?.errors?.['required']"
                        >
                          Thumbnail Image is required.
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="text-end">
                    <button
                      type="button"
                      class="btn btn-back mt-4"
                      (click)="open(previewModal)"
                      *ngIf="IsBannerImage"
                    >
                      Preview Banner Image
                    </button>
                    <button
                      type="submit"
                      class="btn btn-primary mt-4"
                      [disabled]="
                        showBannerCropper == true ||
                        showThumbnailCropper == true
                      "
                    >
                      Add
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #previewModal let-modal>
  <div class="modal-header border-0 pb-0">
    <div class="form-header modal-header-title text-start mb-0">
      <h4 class="mb-0">Preview Banner Image</h4>
    </div>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="modal.close()"
    ></button>
  </div>
  <div class="modal-body">
    <a class="podcastdetailbanner mb-3">
      <span>
        <img
          [src]="
            croppedBannerImage ? croppedBannerImage : 'assets/img/drop-icon.svg'
          "
          alt="upload"
          id="bannerPreview"
        /> </span
    ></a>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      data-bs-dismiss="modal"
      class="btn btn-back cancel-btn me-2"
      (click)="modal.close()"
    >
      Cancel
    </button>
  </div>
</ng-template>
