<div class="main-wrapper">
  <app-admin-navbar></app-admin-navbar>
  <div class="page-wrapper">
    <div class="content container-fluid">
      <div class="page-header">
        <div class="content-page-header">
          <h5>Dashboard</h5>
        </div>
      </div>
      <div class="row row-gap-3 row-gap-md-4">
        <div class="col-12 col-md-3">
          <div class="company-detail-card bg-theme-light w-100 h-100 mb-0">
            <div class="dash-comapny-info">
              <h6>Sales</h6>
              <h5 class="d-flex align-items-center justify-content-between">
                <i class="fa-solid fa-dollar-sign"></i>
                154
              </h5>
              <p>
                <span>1% <i class="fe fe-chevrons-up"></i></span>Last month
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="company-detail-card bg-theme-light w-100 h-100 mb-0">
            <div class="dash-comapny-info">
              <h6>Revenue</h6>
              <h5 class="d-flex align-items-center justify-content-between">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                987
              </h5>
              <p>
                <span>14% <i class="fe fe-chevrons-up"></i></span>Last month
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="company-detail-card bg-theme-light w-100 h-100 mb-0">
            <div class="dash-comapny-info">
              <h6>Total Ordered</h6>
              <h5 class="d-flex align-items-center justify-content-between">
                <i class="fa-solid fa-cubes-stacked"></i>
                {{ dashboardData?.data?.totalOrder?.order }}
              </h5>

              <p>
                <span
                  >{{ dashboardData?.data?.totalOrder?.totalOrderIncrease }}%
                  <i class="fe fe-chevrons-up"></i></span
                >Last month
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="company-detail-card bg-theme-light w-100 h-100 mb-0">
            <div class="dash-comapny-info">
              <h6>Total Delevered</h6>
              <h5 class="d-flex align-items-center justify-content-between">
                <i class="fa-solid fa-truck"></i>
                {{ dashboardData?.data?.totalDelivered?.delivered }}
              </h5>

              <p>
                <span
                  >{{
                    dashboardData?.data?.totalDelivered?.totalDeliveredIncrease
                  }}% <i class="fe fe-chevrons-up"></i></span
                >Last month
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-7">
          <div class="card super-admin-dash-card border-0 h-100 mb-0">
            <div class="card-header">
              <div class="row align-center">
                <div class="col">
                  <h5 class="card-title">Revenue</h5>
                </div>
              </div>
            </div>
            <div class="card-body">Bar chart for Revenue</div>
          </div>
        </div>
        <div class="col-12 col-md-5" *ngIf="router.url.includes('/admin')">
          <div class="card super-admin-dash-card border-0 h-100 mb-0">
            <div class="card-header">
              <div class="row align-center">
                <div class="col">
                  <h5 class="card-title">Top Manufacturers</h5>
                </div>
                <div class="col-auto">
                  <a
                    *ngIf="router.url.includes('/admin')"
                    class="btn-right btn btn-sm btn-outline-primary"
                    routerLink="/manufacturers"
                  >
                    View All
                  </a>
                </div>
              </div>
            </div>
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table table-stripped table-hover">
                  <tbody>
                    <tr *ngFor="let man of topManufacturers">
                      <td>
                        <h2 class="table-avatar">
                          <!-- <div
                            class="company-avatar avatar-md me-2 companies company-icon"
                          >
                            <img
                              class="avatar-img rounded-circle company"
                              src="assets/img/companies/company-01.svg"
                              alt="Company Image"
                            />
                          </div> -->
                          <span
                            >{{ man.user?.name }}
                            <span class="plane-type"
                              >{{ man.company_name }} (Monthly)</span
                            ></span
                          >
                        </h2>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="card super-admin-dash-card border-0 h-100 mb-0">
            <div class="card-header">
              <div class="row align-center">
                <div class="col">
                  <h5 class="card-title">Top Selling Product</h5>
                </div>
                <div class="col-auto">
                  <a
                    routerLink="/products"
                    *ngIf="router.url.includes('/admin')"
                    class="btn-right btn btn-sm btn-outline-primary"
                  >
                    View All
                  </a>
                </div>
              </div>
            </div>
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table table-stripped table-hover">
                  <tbody>
                    <tr *ngFor="let topProducts of topSellingProducts">
                      <td>
                        <h2 class="table-avatar">
                          <div
                            class="company-avatar avatar-md me-2 companies company-icon"
                          >
                            <img
                              class="avatar-img rounded-circle company"
                              src="{{ topProducts.product?.product_image }}"
                              alt="Company Image"
                            />
                          </div>
                          <span
                            >{{ topProducts.product?.product_name }}
                            <span class="plane-type">Clothing</span></span
                          >
                        </h2>
                      </td>
                      <td>{{ topProducts.soldCount }} Sold</td>
                      <td class="text-end">
                        <a
                          routerLink="/details-product/{{
                            topProducts.product?.id
                          }}"
                          class="view-companies btn"
                          *ngIf="router.url.includes('/admin')"
                          >View</a
                        >
                      </td>
                    </tr>
                    <!-- <tr>
                      <td>
                        <h2 class="table-avatar">
                          <div 
                            class="company-avatar avatar-md me-2 companies company-icon"
                          >
                            <img
                              class="avatar-img rounded-circle company"
                              src="assets/img/companies/company-01.svg"
                              alt="Company Image"
                            />
                          </div>
                          <span
                            >Hermann Groups
                            <span class="plane-type">Clothing</span></span
                          >
                        </h2>
                      </td>
                      <td>24 Unit Sold</td>
                      <td class="text-end">
                        <a
                          href="product_details.html"
                          class="view-companies btn"
                          >View</a
                        >
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <h2 class="table-avatar">
                          <div
                            class="company-avatar avatar-md me-2 companies company-icon"
                          >
                            <img
                              class="avatar-img rounded-circle company"
                              src="assets/img/companies/company-01.svg"
                              alt="Company Image"
                            />
                          </div>
                          <span
                            >Hermann Groups
                            <span class="plane-type">Clothing</span></span
                          >
                        </h2>
                      </td>
                      <td>24 Unit Sold</td>
                      <td class="text-end">
                        <a
                          href="product_details.html"
                          class="view-companies btn"
                          >View</a
                        >
                      </td>
                    </tr> -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="card super-admin-dash-card border-0 h-100 mb-0">
            <div class="card-header">
              <div class="row align-center">
                <div class="col">
                  <h5 class="card-title">Products</h5>
                </div>
              </div>
            </div>
            <div class="card-body">pie chart for products</div>
          </div>
        </div>
        <div class="col-12 col-md-8">
          <div class="card super-admin-dash-card border-0 h-100 mb-0">
            <div class="card-header">
              <div class="row align-center">
                <div class="col">
                  <h5 class="card-title">Recent Orders</h5>
                </div>
                <div class="col-auto">
                  <!-- <a
                    class="btn-right btn btn-sm btn-outline-primary"
                    *ngIf="router.url.includes('/admin')"
                  >
                    View All
                  </a> -->
                </div>
              </div>
            </div>
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table table-stripped table-hover">
                  <tbody>
                    <tr *ngFor="let recent of recentProducts">
                      <td>
                        <div class="invoice-link dash-incoice-table">
                          <!-- #INV12454 -->
                        </div>
                        <span class="dash-incoice-date">{{
                          recent.created_at | date : "MMM d | h:mm a"
                        }}</span>
                      </td>
                      <td>
                        <h2 class="table-avatar">
                          <div
                            class="company-avatar avatar-md me-2 companies company-icon"
                          >
                            <img
                              class="avatar-img rounded-circle company"
                              src="{{ recent.product?.product_image }}"
                              alt="Company Image"
                            />
                          </div>
                          <span>{{ recent.product?.product_name }}</span>
                        </h2>
                      </td>
                      <!-- <td>
                        Book Name <br />
                        <span class="plane-type">(Book)</span>
                      </td> -->
                      <!-- <td>
                        <span
                          class="badge bg-warning-light d-inline-flex align-items-center"
                          ><i class="fe fe-check me-1"></i>pending</span
                        >
                      </td> -->
                      <!-- <td class="text-end">
                            <a
                              href="invoice-subscription.html"
                              class="invoice-detail"
                              ><i class="fe fe-file-text"></i
                            ></a>
                          </td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
