<div class="main-wrapper">
  <app-admin-navbar></app-admin-navbar>
  <div class="page-wrapper">
    <div class="content container-fluid">
      <div class="page-header">
        <div class="content-page-header">
          <h5>Product Details</h5>
        </div>
      </div>

      <div class="row gap-3 mb-3 justify-content-between m-0">
        <div class="col-1 p-0">
          <app-go-back></app-go-back>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                  <div class="ep-cover">
                    <div class="card p-0 m-0">
                      <img
                        src="./assets/img/1.jpg"
                        class="card-img-top"
                        alt="..."
                      />
                      <div class="card-body">
                        <p class="card-text">
                          Some quick example text content.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-9 col-md-6 col-sm-12">
                  <div class="row">
                    <div class="col-lg-8 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label>Product Name</label>
                        <p>Some quick example text content.</p>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label>Product Code</label>
                        <p>#fy382</p>
                      </div>
                    </div>
                    <div class="col-lg-8 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label>Category</label>
                        <p>Clothing</p>
                      </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label>Manufacture By</label>
                        <p>Goldmine</p>
                      </div>
                    </div>
                    <div class="col-lg-8 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label>Price</label>
                        <p>$50</p>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label>Discount Price</label>
                        <p>$40</p>
                      </div>
                    </div>
                    <div class="col-lg-8 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label>Color</label>
                        <p>Red</p>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label>Size</label>
                        <p>M</p>
                      </div>
                    </div>
                    <div class="col-lg-8 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label>Stock</label>
                        <p>453</p>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label class="d-block">Status</label>
                        <span class="badge bg-success-light text-success-light"
                          >Published</span
                        >
                      </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="input-block mb-3">
                        <label>Description</label>
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit. Id dolorem nobis fugiat possimus. Enim quibusdam
                          aut eligendi iure, molestiae aliquam ea neque, sequi
                          nemo unde, sunt voluptatum id amet eius harum
                          asperiores animi porro! Temporibus libero illum soluta
                          explicabo sit neque a quibusdam ratione. Magnam non
                          dolor totam quaerat consequuntur.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
